<div class="main col-12 pt-3">
  <div class="custom-card col-10">
    <div class="titulo border-bottom">
      <span style="font-size: 1.3rem">Gabriel Kojima - Métodos 3</span>
    </div>
    <div class="c-body form-inline pt-2">
      <div class="col-12">
        <mat-form-field class="col-6">
          <mat-label>Escolha o método</mat-label>
          <mat-select [(ngModel)]="metodo">
            <mat-option value="newtong">
              Newton-Gregory
            </mat-option>
            <mat-option value="newton">
              Newton
            </mat-option>
            <mat-option value="ajuste">
              Ajuste
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-inline" *ngIf="metodo === 'newtong' || metodo === 'newton'">
        <div class="col-12">
          <mat-form-field class="col-2" *ngFor="let ponto of x; let index = index; trackBy:trackByIndex;">
            <input type="number" matInput [(ngModel)]="x[index]" placeholder="x{{index}}">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="col-2" *ngFor="let ponto of fx; let index = index; trackBy:trackByIndex;">
            <input type="number" matInput [(ngModel)]="fx[index]" placeholder="fx{{index}}">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="col-2">
            <input type="number" matInput [(ngModel)]="ponto" placeholder="f(p)">
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 mb-3" *ngIf="result">
        <h3>F(p) = {{result}}</h3>
      </div>
      <div class="col-12 mb-3" *ngIf="((metodo === 'newtong' || metodo === 'newton') && ng.dataSource)">
        <app-tabela></app-tabela>
      </div>
    </div>
    <div class="col-12 d-flex border-top p-1">
      <button mat-button class="moonlight" style="margin-left: auto;" (click)="calcularMetodo(metodo)">Calcular</button>
    </div>
  </div>
</div>
